name: CI/CD Pipeline

on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Ambil source code
      - name: Checkout source
        uses: actions/checkout@v3

      # Step 2: Setup java & maven
      - name: setup java
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin

      # Step 3: Maven build
      - name: Build with Maven
        run: mvn clean install -DskipTests=true

      # Step 4: Login ke DockerHub
      - name: Login DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 5: Build & Push Docker image
      - name: Build & Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ahmadzulfadli/application-public:demo2-service